*{
   margin:0;
    padding:0;
}
body{
    display: grid;
    grid-template-columns: 250px 20px  1fr 30px;
    grid-template-rows: 60px 20px 630px 10px 40px;
 
}
.content{
    grid-column-start: 3;
    grid-row-start: 3;
   border: 1px solid sandybrown;
   position: relative;
}

.top_left{
    grid-column-start: 1;
    grid-row-start: 1;
    background: white;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    
}
.top_left i{
    font-size: 25px;
}
.top_right{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    background-image: linear-gradient(to right, skyblue, darkcyan);
    
text-align: right;
line-height: 60px;
}
.top_right i {
     
    color: white;
    font-size: 25px;
    margin-right: 20px;
}
.bottom{
    grid-column-start: 3;

    grid-row-start: 5;
    background: cadetblue;
    text-align: center;
    line-height: 40px;


}
.content_left{
    grid-column-start: 1;
    grid-row-start: 3;
    background: white;
}
.content_left a{
    text-decoration:none;
    color: black;
}

.content_left div{
   width: 100%;
   height: 50px;
   color: black;
 
   line-height: 50px;
}
.content_left div:not(:last-child){
    padding-left: 30px;
}
.content_left div:not(:last-child):hover a{
    color: skyblue !important;
}
.content .fen:nth-of-type(1){
    background: gold;
}
.content .fen{
    position: absolute;
    left: 250px;
    bottom: 2px;
    margin-right: 10px;
    width: 20px;
    
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
.content .fen:hover{
    background: skyblue;
}

.content div{
    width: 100%;
    height: 600px;
    
} 
.content div:not(:nth-of-type(1)){
    display: none;
}
.content div ul li {
    list-style: none;
    width: 100%;
    height: 100px;
    box-sizing: border-box;

    position: relative;
}
.content div ul li:hover{
    border-left: 2px solid skyblue;
}
.content div ul li .stateList{
    width: 90px;
    height: 50px;
    background: khaki;
    position: absolute;
    right: 0;
    top:20px;
    display: none;
    cursor: pointer;
   
}
.content div ul li .stateList span{
    height: 25px;
    width: 90px;
    text-align: center;
    line-height: 25px;
    font-size: 10px;
    color: cornflowerblue;
    display: inline-block;
    cursor: pointer;
}
.title{
    width: 400px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid beige;
    margin-left: 20px;
}
.miaoshu{
    width: 300px;
    height: 60px;
  
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 20px;

}
.beizhu{
    width: 250px;
    height: 60px;
  
    position: absolute;
    left: 300px;
    bottom: 0;
    margin-left: 30px;
 
}

.state{
    position: absolute;
    width: 90px;
    height: 30px;
    
    top:0;
    right: 0;
}
.state i{
    color: skyblue;
    font-size: 20px;
}

.anniu{
    width: 90px;
    height: 30px;
 
    position: absolute;
    right: 0;
    bottom: 0;
    color: crimson;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    
}
.anniu a{
    text-decoration: none;
}
.anniu:hover{
  color: aqua;
}
.img{
    width: 100%;
    height: 200px;
    background: silver;
     display: none;
     position: absolute;
     z-index: 22222;
}
.img img{
    width: 100%;
    height: 200px;
   padding: 10px 10px ;
    box-sizing: border-box;
    
}
.signout{
    width: 120px !important;
    border-radius: 8px;
    height: 40px!important;
    line-height: 40px!important;
    text-align: center;
    background: salmon;
    margin: 30px 0 0 30px;
}

.zy{
    width: 250px !important;
    height: 300px!important;;
    background: cornsilk;
    position: absolute;
    left: 20px;
    top:80px;
    border-radius: 10px;
}

.cont{
    width: 450px !important;
    height: 500px!important;
    border:1px solid cornsilk;
    border-radius: 10px;
    position: absolute;
    left: 300px;
    top:80px;
    padding-top: 10px;
}
.cont p,
.cont input ,
.cont textarea{
    outline: none;
    border: none;
  
    margin:5px 0 0 30px;
}
.cont textarea,
.cont input:not(:last-child) {
    border-bottom: 1px solid silver;
    width: 250px;
}
.cont input{
    margin-bottom: 15px;
}
.cont input:last-child{
    background: yellowgreen;
}

.signout:hover{
    background: skyblue !important;
}